@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

html {
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
    background-color: #121212;
    color: #fff;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    padding: 20px;
    margin: 0 auto;
}

h1{
    font-size: 46px;
    text-align: center;
    margin-bottom: 40px;
}

h2{
    font-size: 36px;
}

.fa-star{
    font-size: 28px;
    margin-left: 10px;
    color: yellow;
}

.fa-thumbs-up{
    font-size: 28px;
    margin-left: 10px;
    color: lightseagreen;
}

.fa-film{
    font-size: 46px;
    margin-left: 10px;
    color: lightseagreen;
}

.movie {
    margin-top: 100px !important;
}

iframe{
    width: 500px;
    height: 300px;
    margin: 10px 45px;
}

section {
    position: relative;
    width: 100%;
    margin-top: 25px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    transition: 250ms all;
}

section .imageContainer {
    flex: 0 0 auto;
}

.content {
    display: none;
    position: relative;
    min-height: 200px;
    width: 100%;
    padding: 20px;
    margin-top: 25px;
}


.content-display {
    display: block;
}


.content-display {
    display: block;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.content div {
    margin: 10px;
}


#content-close {
    cursor: pointer;
    position: absolute;
    top: 20px;
    border-radius: 50%;
    left: 20px;
    background-color: lightseagreen;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
}


.imageContainer {
    transition: 250ms all;
    width: 100%;
}


.imageContainer:hover {
    margin-left: 0 40px;
    transform: scale(1.1);
    cursor: pointer;
}

.imageContainer img{
    border-radius: 4px;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    max-width: 300px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 1rem;
    text-align: center;
}

#inputValue{
    width: 50%;
    height: 26px;
    line-height: 46px;
    font-size: 1.1em;
    color: rgba(0,0,0,0.5);
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    outline: none;
}

.form-action{
    position: relative;
    top: 0;
    left: 0;
}

#search{
    display: inline-flex;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    align-content: center;
    align-items: center;
    height: 46px;
    padding: 10px 26px;
    border: none;
    background: lightseagreen;
    border-radius: 30px;
    position: absolute;
    top: 0;
    right: 23%;
    color: rgba(255,255,255, 1);
    cursor: pointer;
    outline: none;
}

.form-control {
    width: 760px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    outline: none;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}